.btns {
    display: flex;
}

.btn {
	display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    @include font-size(30px);

    .fa {
        background: #8DC63F;
        color: white;
        @include circle(50px);
        position: relative;
        flex-shrink: 0;

        &:before {
            @include centered();
        }

        &:first-child {
            margin-right: 0.5em;
        }

        &:last-child {
            margin-left: 0.5em;
        }
    }
}
