$gutter-size : 30px;

.row {
    display: flex;
    margin: 0 $gutter-size * -1;

    .col {
        padding: 0 $gutter-size;

        @for $i from 1 through 12 {
            &.w#{$i} {
                flex: $i;
            }
        }
    }
}
