// .scheme-light {
//     .title {
//         border-bottom: 2px solid white;
//     }
// }

// .scheme-dark {
//     .title {
//         border-bottom: 2px solid $default-text-color;
//     }
// }

.title-block {
    text-align: center;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    margin-top: 20px;

    &:after {
        content: "";
        @include pos(50%, $bottom: 0);
        border-bottom: 4px solid #8DC63F;
        width: 240px;
        transform: translateX(-50%);
    }

    .title {
        margin: 0;
        @include font-size(72px);
        line-height: 1em;
    }
}
