.columns {
    .heading {
        font-family: $font-family-secondary;
        @include font-size(32px);
        font-weight: 900;
        position: relative;
        padding-bottom: 15px;

        &:before {
            content: "";
            @include pos($bottom: 0);
            width: 100px;
            border-bottom: 4px solid #8DC63F;
        }
    }
}
