.banner {
	background-size: cover;
    padding: 100px 0;
    @include font-size(32px);
    font-weight: 300;

    .container {
        display: flex;
        align-items: flex-end;
    }

    .summary {
        flex: 1;
        padding-right: 40px;
    }

    .accent {
        width: 600px;
    }

    h1 {
        @include font-size(125px);
        font-weight: 900;
        font-family: $font-family-secondary;
        line-height: 1em;
    }
}
