.footer {
    padding: 25px 0 40px 0;
    background: #414042;
    color: white;
    @include font-size(20px);
    font-weight: 300;

    .title-block {
        text-align: left;
        margin-bottom: 15px;
        padding-bottom: 15px;

        &:after {
            left: 0;
            transform: translateX(0);
        }

        .line1 {
            @include font-size(43px);
            display: block;
            line-height: 1em;
        }

        .line2 {
            display: block;
            @include font-size(125px);
            line-height: 1em;
        }
    }

    .main-info {
        display: flex;
    }

    .locations {
        flex: 8;
        display: flex;

        .address {
            flex: 1;
        }
    }

    .label {
        @include font-size(32px);
    }

    .social {
        flex: 4;

        a {
            display: inline-block;
            @include circle(48px);
            border: 3px solid #8DC63F;
            line-height: 42px;
            margin: 0 1px;
            @include font-size(20px);
            text-align: center;
        }
    }
}
