.header {
	padding: $block-padding;
    background: lightgrey;

    .container {
        display: flex;
        align-items: center;
    }

    .logo {
        width: 200px;
    }

    .navigation {
        flex: 1;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
    }

    .menu-item {
        padding: 0 16px;

        &:not(:first-child) {
            border-left: 2px solid white;
        }
    }

    a:hover {
        color: white;
    }
}
