html,
button,
input,
select,
textarea {
	color: $default-text-color;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

strong {
    font-weight: bold;
}

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;

	&.alignright {
		float: right;
		margin-left: 15px;
	}

	&.alignleft {
		float: left;
		margin-right: 15px;
	}

    &.aligncenter {
        display: block;
        margin: 0 auto;
    }
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

nav {
	ul {
		@include ulreset;
	}
}

input[type="search"],
*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	@include clear-fix();
	width: $max-width;
	margin: 0 auto;
    position: relative;
    z-index: 1;

    &.half {
        width: $max-width / 2;
        margin: 0;
    }

    @include breakpoint(to-desktop-mid) {
		width: 1200px;

        &.half {
            width: 600px;
        }
	}

	@include breakpoint(to-desktop-sml) {
		width: 960px;

        &.half {
            width: 480px;
        }
	}

	@include breakpoint(to-tablet) {
		width: 720px;

        &.half {
            width: 360px;
        }
	}

	@include breakpoint(to-phablet) {
		width: 100%;
		padding: 0 20px;

        &.half {
            width: 100%;
        }
	}
}

.hidden {
	display: none;
}

.video-bg {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    @include box(100%);

    video {
        @include centered();
        min-width: 100%;
        min-height: 100%;
    }
}

.scheme-light {
    color: white;
}

.scheme-dark {
    color: $default-text-color;
}

.bg-pos-center {
    background-position: center center;
}

.bg-pos-top {
    background-position: center top;
}

.bg-pos-bottom {
    background-position: center bottom;
}

.bg-pos-top-left {
    background-position: left top;
}

.bg-pos-top-right {
    background-position: right top;
}

.bg-pos-bottom-left {
    background-position: left bottom;
}

.bg-pos-bottom-right {
    background-position: right bottom;
}

.bg-pos-fixed {
    background-position: center top;
    background-attachment: fixed;
}

blockquote {
    @include font-size(32px);
    font-weight: 300;
    line-height: 1.2em;
    position: relative;

    &:before {
        content: "";
        background-image: url("img/quote-white.png");
        @include box(48px, 49px);
        @include pos(-20px, -15px);
        z-index: -1;
    }
}
