body {
    font-family: $font-family-primary;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: inherit;
}

@include headings() {
    margin: 15px 0;
    line-height: 1.2em;
    font-family: $font-family-secondary;
    font-weight: 900;
}

p {
    margin: 15px 0;
}

h1 {
    @include font-size(48px);
}

h2 {
    @include font-size(40px);
}

h3 {
    @include font-size(32px);
}

h4 {
    @include font-size(28px);
}

h5 {
    @include font-size(24px);
}

h6 {
    @include font-size(20px);
}

.large {
    font-size: 1.2em;
}
