.accent-image {
    background-size: cover;
    @include font-size(20px);
    font-weight: 300;

    .overlay {
        @include cover();
        z-index: 1;
    }

    .container {
        display: flex;
        position: relative;
        z-index: 2;
    }

    &.align-bottom {
        .accent {
            padding: 0 20px;
            align-self: flex-end;
            position: relative;

            img {
                @include pos(50%, $bottom: 0);
                transform: translateX(-50%);
            }
        }
    }

    &.align-right {
        .accent {
            order: 1;
        }
    }

    .title-block {
        text-align: left;
    }

    .content,
    .accent {
        width: 50%;
        padding: 60px 20px;
    }

    .accent {
        text-align: center;
    }

    .slideshow {
        margin-bottom: 30px;
    }

    .slide {
        img {
            margin: 0 auto;
        }
    }

    .slick-next,
    .slick-prev {
        top: 100%;
        background: white;
        border-radius: 100%;
        @include box(40);

        &:before {
            font-family: $font-family-icons;
            color: #0CA555;
            @include font-size(26px);
        }
    }

    .slick-next {
        right: 50%;
        transform: translate(110%, 15px);
        padding-left: 3px;

        &:before {
            content: "\f0da";
        }
    }

    .slick-prev {
        left: 50%;
        transform: translate(-110%, 15px);
        padding-right: 3px;

        &:before {
            content: "\f0d9";
        }
    }
}
