.blog-feed {
    padding: 50px 0;
    background-size: cover;

    .container {
        display: flex;
    }

    .title {
        @include font-size(72px);
        font-weight: 900;
        font-family: $font-family-secondary;
        line-height: 1em;
    }

    .preview {
        flex: 4;
        padding-right: 30px;
        @include font-size(24px);
        font-weight: 300;
    }

    .posts {
        flex: 8;
        padding-left: 30px;
    }

    .post {
        margin: 7px;
        height: 495px;
        position: relative;
        background-size: cover;
        background-position: center center;

        &:before {
            content: "";
            @include cover;
            background: fade-out(black, 0.5);
        }
    }

    .summary {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 30px;
        color: white;
        z-index: 2;

        time {
            @include font-size(20px);
            font-weight: 300;
        }

        .headline {
            font-family: $font-family-secondary;
            @include font-size(32px);
            font-weight: 900;
            margin: 0;
        }

        .btn {
            justify-content: flex-start;
            @include font-size(21px);
            margin-top: 15px;
            font-weight: 400;

            .fa {
                background: white;
                @include circle(26px);
                @include font-size(20px);
                color: #0CA555;

                &:before {
                    left: 54%;
                }
            }
        }
    }
}
