.case-studies {
    position: relative;

    .study {
        padding: 60px 0;
        background-size: cover;
        background-position: center center;
        @include font-size(24px);
        font-weight: 100;
        color: white;
    }

    .subtitle {
        font-family: $font-family-primary;
        @include font-size(60px);
        font-weight: 300;
        line-height: 1em;
    }

    .title {
        @include font-size(100px);
        line-height: 0.9em;
        color: black;
    }

    .btn {
        @include font-size(24px);
        justify-content: flex-start;

        .fa {
            @include box(40);
        }
    }

    .container {
        display: flex;
    }

    .accent {
        text-align: right;
        order: 1;
        flex: 45;
    }

    .desc {
        flex: 55;
        padding-right: 60px;
        padding-top: 45px;
    }

    .slide-arrows {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .slick-next,
    .slick-prev {
        top: 60px;
        background: white;
        border-radius: 100%;
        @include box(40);

        &:before {
            font-family: $font-family-icons;
            color: #0CA555;
            @include font-size(26px);
        }
    }

    .slick-next {
        right: auto;
        left: 50px;
        transform: translate(0, 0);
        padding-left: 3px;

        &:before {
            content: "\f0da";
        }
    }

    .slick-prev {
        left: 0;
        transform: translate(0, 0);
        padding-right: 3px;

        &:before {
            content: "\f0d9";
        }
    }
}
