.column-block {
    padding: $block-padding;
    background-size: cover;
    @include font-size(20px);
    font-weight: 300;

    .row {
        .title {
            font-family: $font-family-secondary;
            @include font-size(32px);
            font-weight: 900;
        }
    }

    .title-block {
        max-width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    .btns {
        justify-content: center;
        margin: 40px 0;
    }
}
