.content-with-sidebar {
    padding: 50px 0;
    background-size: cover;
    @include font-size(20px);
    font-weight: 300;

    &.side-right {
        .content {
            padding-left: 0;
        }

        .sidebar {
            padding-right: 0;
        }
    }

    &.side-left {
        .content {
            padding-right: 0;
        }

        .sidebar {
            order: -1;
            padding-left: 0;
        }
    }

    &.side-hidden {
        .content {
            padding: 0;
        }

        .sidebar {
            display: none;
        }
    }

    .inner {
        display: flex;
    }

    .section-title {
        @include font-size(54px);
        font-weight: 900;
        font-family: $font-family-secondary;
        max-width: 66.6666%;
        padding-right: 30px;
        margin: 0 0 30px 0;
    }

    .content,
    .sidebar {
        padding: 0 30px;
    }

    /**
     * Content Blocks
     */
    .content {
        flex: 8;

        @import "content/title";
        @import "content/editor";
        /* content-blocks */
    }

    /**
     * Sidebar
     */
    .sidebar {
        flex: 4;

        @import "sidebar/editor";
        @import "sidebar/links";
        /* sidebar-blocks */
    }
}
