.gallery {
    background-size: cover;

    .items {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .item {
        width: 50%;
        padding: $block-padding;
        display: flex;
        align-items: center;

        &:nth-child(odd) {
            justify-content: flex-end;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
