.project-grid {
    padding: $block-padding;
    background-size: cover;

    .inner {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -30px;
    }

    .project {
        width: 50%;
        display: flex;
        align-items: center;
        padding: 40px 30px;
    }

    .client {
        @include font-size(30px);
        margin: 0;
    }

    .name {
        @include font-size(44px);
        margin: 0;
        font-family: $font-family-secondary;
        font-weight: 900;
        line-height: 1em;
    }

    .details {
        flex: 1;
        padding-right: 15px;
    }

    .btn {
        justify-content: flex-start;
        @include font-size(24px);
        margin-top: 10px;
        line-height: 1.1em;

        .fa {
            @include circle(38px);
            @include font-size(20px);
        }
    }
}
