.related-projects {
    padding: 50px 0;
    background-size: cover;

    .title-block {
        text-align: left;
        margin-top: 0;

        &:after {
            left: 0;
            transform: translate(0, 0);
        }
    }

    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F1F2F2;
        text-align: center;
    }

    .project {
        flex: 1;
        padding: 30px 15px;
    }
}
