.social-summary {
    padding: $block-padding;
    background-size: cover;

    .title-block {
        .title {
            @include font-size(48px);
        }
    }

    .social {
        @include ulreset();
        display: flex;
        flex-wrap: wrap;
        font-family: $font-family-secondary;
        @include font-size(40px);
        font-weight: 300;

        li {
            width: 50%;
            padding: 8px 20px;
        }

        a {
            display: flex;
            align-items: center;
        }

        .fa {
            @include circle(68px);
            border: 2px solid #8DC63F;
            line-height: 64px;
            @include font-size(32px);
            text-align: center;
            margin-right: 20px;
        }

        span {
            line-height: 1em;
        }
    }
}
