.staff-grid {
    background-size: cover;

    .grid {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .staff {
        margin-top: 30px;
        padding-top: 70px;
        width: 25%;
        text-align: center;
        position: relative;
        transition: all 0.3s ease-in-out;

        &:nth-child(4n) {
            .slide-out {
                left: auto;
                right: 100%;
            }
        }

        &:hover {
            background: white;
            z-index: 11;

            .slide-out {
                z-index: 15;
                opacity: 1;
            }
        }
    }

    img {
        // max-width: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
    }

    .slide-out {
        @include box(100%);
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 1;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        background: white;
        text-align: left;
        padding: 28px 40px;
        font-weight: 300;

        h5 {
            margin: 0 0 6px 0;
            @include font-size(28px);
        }

        p {
            margin: 0;
        }
    }
}
