.timeline {
    padding: $block-padding;
    background-size: cover;

    .subtitle {
        margin: 0;
        @include font-size(35px);
        font-weight: 300;
        line-height: 1em;
    }

    .segment {
        display: flex;
        align-items: center;
        margin: 40px 0;

        &.left {
            .desc {
                order: 1;
            }

            .step {
                order: 1;
                margin-right: 0;
                margin-left: 22px;
            }
        }
    }

    .desc,
    .accent {
        flex: 1;
        padding: 0 20px;
    }

    .desc {
        display: flex;
        align-items: center;
        @include font-size(20px);
        font-weight: 300;
        max-width: 50%;
        margin: 0 auto;
    }

    .accent {
        @include font-size(24px);
    }

    .step {
        span {
            font-family: $font-family-secondary;
            @include font-size(72px);
            font-weight: 300;
            @include circle(120px);
            border: 2px solid #8DC63F;
            display: inline-block;
            text-align: center;
            line-height: 116px;
            margin-right: 22px;
        }
    }
}
