.video {
    position: relative;

    video {
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center center;
        display: block;
    }

    .video-controls {
        @include centered;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            border: none;
            background: #414042;
            color: white;
            @include circle(135);
            @include font-size(40px);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            outline: none;

            &:hover {
                color: #0CA555;
            }
        }
    }
}
