.links {
    @include font-size(24px);

    ul {
        @include ulreset();
        line-height: 1.3em;
    }

    .heading {
        @include font-size(14px);
        text-transform: uppercase;
        font-weight: 400;

        &:not(:first-child) {
            margin-top: 16px;
        }
    }
}
